<main class="main">
  <h1 class="header">
    Sorting Algorithm Visualizer
  </h1>

  <div class="settings-row">
    <div>
      <form [formGroup]="settingsForm">
        Speed:
        <input type="range" min="1" max="100" class="slider speed-range" formControlName="delay" />
        Size:
        <input type="number" formControlName="arraySize" />
      </form>
    </div>
    <div>
      <input type="button" value="Generate Array" (click)="GenerateArray()" [disabled]="isDisabled" />
      <input type="button" value="Shuffle Array" (click)="ShuffleArray()" [disabled]="isDisabled" />
      <input type="button" value="Solve!" (click)="Solve()" [disabled]="isDisabled" />
    </div>
  </div>

  <div class="algorithm-row">
    <a routerLink="/app-quick-sort" routerLinkActive="active" ariaCurrentWhenActive="page"><input type="button" value="Quick Sort" [disabled]="isDisabled" /></a>
    <a routerLink="/app-bubble-sort" [queryParams]="{arraySize: settingsForm.controls['arraySize'].value}" routerLinkActive="active" ariaCurrentWhenActive="page"><input type="button" value="Bubble Sort" [disabled]="isDisabled" /></a>
    <a routerLink="/app-insertion-sort" routerLinkActive="active" ariaCurrentWhenActive="page"><input type="button" value="Insertion Sort" [disabled]="isDisabled" /></a>
    <a routerLink="/app-selection-sort" routerLinkActive="active" ariaCurrentWhenActive="page"><input type="button" value="Selection Sort" [disabled]="isDisabled" /></a>
  </div>
</main>

<router-outlet />